doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="preload" as="style" href="/css/globals.css")
        link(rel="stylesheet" href="/css/globals.css")
        each image in pageImages
            link(rel="preload" as="image" href=image)
        each image in slideshow
            link(rel="prefetch" as="image" href=image)
        title pompqn 
        meta(property="og:title" content="pompqn art!")
        meta(property="og:type" content="website")
        meta(property="og:image" content="/img/mob.png")
        meta(property="og:url" content="https://twy.shr4pnel.com")
    body 
        header
            .container.title-container
                h1.title pompqn art corner
        main
            .container
                h2.centered.highlight badges
                .flex-container.margin-top
                    img(src="/img/natsuki.png" alt="natsuki heart shaped badge" width="200px" height="186px")
                    img(src="/img/monika.png" alt="monika heart shaped badge" width="200px" height="186px")
                    img(src="/img/sayori.png" alt="sayori heart shaped badge" width="200px" height="186px")
                    img(src="/img/yuri.png" alt="yuri heart shaped badge" width="200px" height="186px")
                .centered.small-line-height
                    p some ddlc badges i made!! they r super cute and heart shaped! heart badges are my favourite badges to make but i also make circle and star badges!
                .flex-container.margin-top.flex-center
                    img(src="/img/mob.png" alt="mob psycho circle shaped badge" width="200px" height="200px")
                    img(src="/img/teruki.png" alt="teruki circle shaped badge" width="200px" height="200px")
                    img(src="/img/reigen.png" alt="reigen circle shaped badge" width="200px" height="200px")
                .centered.small-line-height
                    p my mp100 circle badges! defo one of my favourite sets i made look how cute mob is 
                h2.centered.highlight charms
                .flex-container
                    p.left-pad i also make little charm designs! i am a big fan of danganronpa so i put my own little twist on some of the characters - chiaki, sonia, toko - by dressing them cafe themed :)
                    .row
                        button
                            img#left-arrow(src="/img/arrowleft.png" width="16.5" height="25.3")
                        img#slideshow(src=initialImgSrc width="250" height="250")
                        button
                            img#right-arrow(src="/img/arrowright.png" width="16.5" height="25.3")
        script(src="/js/main.js")
